In [9]:
import pandas as pd
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin1')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [11]:
df.head(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [20]:
mean2017 = df['Y2017'].mean()
std2017 = df['Y2017'].std()

print("Mean_Year_2017", mean2017)
print("Std_Year_2017", std2017)

Mean_Year_2017 140.9177648602722
Std_Year_2017 1671.8623590567995

In [22]:
column = df[['Y2017', 'Area']]
grouped_column = column.groupby('Area').sum()
seventh_lowest_sum = grouped_column.sort_values(by='Y2017').iloc[6]
area_with_seventh_lowest_sum = seventh_lowest_sum.name

print("Area with the 7th lowest sum in 2017:", area_with_seventh_lowest_sum)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [28]:
madagascar_2015 = madagascar_2015 = df[(df['Area'] == 'Madagascar') ]
total_protein_supply_madagascar_2015 = madagascar_2015['Y2015'].sum()

print(madagascar_2015)

       Area Code        Area  Item Code           Item  Element Code  \
30715        129  Madagascar       2501     Population           511
30716        129  Madagascar       2501     Population          5301
30717        129  Madagascar       2901    Grand Total           664
30718        129  Madagascar       2901    Grand Total           674
30719        129  Madagascar       2901    Grand Total           684
...          ...         ...        ...            ...           ...
32149        129  Madagascar       2899  Miscellaneous          5142
32150        129  Madagascar       2899  Miscellaneous           645
32151        129  Madagascar       2899  Miscellaneous           664
32152        129  Madagascar       2899  Miscellaneous           674
32153        129  Madagascar       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
30715           Total Population - Both sexes     1000 persons  23590.00
30716                Domestic supply quantity      1000 tonnes      0.00
30717           Food supply (kcal/capita/day)  kcal/capita/day   1986.00
30718  Protein supply quantity (g/capita/day)     g/capita/day     44.45
30719      Fat supply quantity (g/capita/day)     g/capita/day     22.18
...                                       ...              ...       ...
32149                                    Food      1000 tonnes     10.00
32150     Food supply quantity (kg/capita/yr)               kg      0.44
32151           Food supply (kcal/capita/day)  kcal/capita/day      0.00
32152  Protein supply quantity (g/capita/day)     g/capita/day      0.01
32153      Fat supply quantity (g/capita/day)     g/capita/day      0.01

          Y2015     Y2016     Y2017     Y2018
30715  24234.00  24894.00  25571.00  26262.00
30716      0.00      0.00      0.00      0.00
30717   1922.00   1918.00   1943.00   1938.00
30718     43.26     43.35     43.94     44.17
30719     22.97     23.83     25.26     24.12
...         ...       ...       ...       ...
32149     11.00     11.00     11.00     12.00
32150      0.44      0.44      0.44      0.44
32151      0.00      0.00      0.00      0.00
32152      0.01      0.01      0.01      0.01
32153      0.01      0.01      0.01      0.01

[1439 rows x 12 columns]

In [30]:
madagascar_2015_protein = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]

print(madagascar_2015_protein)
total_protein_supply_madagascar_2015 = madagascar_2015_protein['Y2015'].sum()

print("Total protein supply quantity in Madagascar in 2015:", total_protein_supply_madagascar_2015)

       Area Code        Area  Item Code                      Item  \
30718        129  Madagascar       2901               Grand Total
30721        129  Madagascar       2903          Vegetal Products
30724        129  Madagascar       2941           Animal Products
30740        129  Madagascar       2905  Cereals - Excluding Beer
30756        129  Madagascar       2511        Wheat and products
...          ...         ...        ...                       ...
32113        129  Madagascar       2769   Aquatic Animals, Others
32123        129  Madagascar       2775            Aquatic Plants
32133        129  Madagascar       2928             Miscellaneous
32142        129  Madagascar       2680               Infant food
32152        129  Madagascar       2899             Miscellaneous

       Element Code                                 Element          Unit  \
30718           674  Protein supply quantity (g/capita/day)  g/capita/day
30721           674  Protein supply quantity (g/capita/day)  g/capita/day
30724           674  Protein supply quantity (g/capita/day)  g/capita/day
30740           674  Protein supply quantity (g/capita/day)  g/capita/day
30756           674  Protein supply quantity (g/capita/day)  g/capita/day
...             ...                                     ...           ...
32113           674  Protein supply quantity (g/capita/day)  g/capita/day
32123           674  Protein supply quantity (g/capita/day)  g/capita/day
32133           674  Protein supply quantity (g/capita/day)  g/capita/day
32142           674  Protein supply quantity (g/capita/day)  g/capita/day
32152           674  Protein supply quantity (g/capita/day)  g/capita/day

       Y2014  Y2015  Y2016  Y2017  Y2018
30718  44.45  43.26  43.35  43.94  44.17
30721  35.43  34.04  33.96  34.47  34.81
30724   9.02   9.23   9.38   9.47   9.36
30740  27.97  27.26  27.38  27.97  28.19
30756   2.09   2.14   2.53   2.88   3.15
...      ...    ...    ...    ...    ...
32113   0.01   0.01   0.00   0.00   0.00
32123   0.00   0.00   0.00   0.00   0.00
32133   0.02   0.02   0.02   0.02   0.02
32142   0.00   0.00   0.00   0.00   0.00
32152   0.01   0.01   0.01   0.01   0.01

[111 rows x 12 columns]
Total protein supply quantity in Madagascar in 2015: 173.04999999999998

In [32]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]

print(x)

8

In [34]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

print(my_tuppy)

TypeError: 'tuple' object does not support item assignment

In [36]:
selected_columns = df[['Y2017', 'Area']]

grouped = selected_columns.groupby('Area').sum()
print(grouped)

area_with_highest_sum = grouped['Y2017'].idxmax()

print("Area with the highest sum in 2017:", area_with_highest_sum)

                                  Y2017
Area
Algeria                       325644.27
Angola                        229159.57
Benin                         124771.22
Botswana                       22101.30
Burkina Faso                  101855.07
Cabo Verde                     14650.74
Cameroon                      232030.43
Central African Republic       29937.00
Chad                           71594.68
Comoros                           59.84
Congo                          41181.68
Côte d'Ivoire                 224599.01
Djibouti                       22729.91
Egypt                         866379.92
Eswatini                       54343.33
Ethiopia                      448683.76
Ethiopia PDR                       0.00
Gabon                          27979.64
Gambia                         23154.18
Ghana                         337599.06
Guinea                         98138.87
Guinea-Bissau                  19102.77
Kenya                         264660.66
Lesotho                        21267.96
Liberia                        29342.20
Madagascar                    131197.73
Malawi                        181098.71
Mali                          149928.33
Mauritania                    156665.46
Mauritius                      51114.83
Morocco                       388495.36
Mozambique                    161407.98
Namibia                        29874.89
Niger                         126707.58
Nigeria                      1483268.23
Rwanda                         73663.69
Sao Tome and Principe          12662.63
Senegal                        95681.15
Seychelles                       442.34
Sierra Leone                   55311.33
South Africa                  517590.54
Sudan                         239931.92
Sudan (former)                     0.00
Togo                           49841.88
Tunisia                       124167.20
Uganda                        213950.38
United Republic of Tanzania   322616.85
Zambia                        103223.77
Zimbabwe                       75919.34
Area with the highest sum in 2017: Nigeria

In [37]:
grouped_element = df.groupby('Element').sum()

total_processing_2017 = grouped_element.loc['Processing', 'Y2017']

print("Total sum of Processing in 2017:", total_processing_2017)

Total sum of Processing in 2017: 292836.0

In [39]:
grouped_element = df.groupby('Element').sum()

stock_variation_sum = grouped_element.loc['Stock Variation', ['Y2014', 'Y2015', 'Y2016', 'Y2017','Y2018']]

year_highest_sum = stock_variation_sum.idxmax()

print("Year with the highest sum of Stock Variation:", year_highest_sum)

TypeError: reduction operation 'argmax' not allowed for this dtype

In [42]:
unique_countries = df['Area'].nunique()
print(unique_countries)

49

In [43]:
numerical_columns = df.select_dtypes(include='number')

correlation_with_element_code = numerical_columns.corrwith(df['Element Code'])

year_least_correlation = correlation_with_element_code.idxmin()

print("Year with the least correlation with 'Element Code':", year_least_correlation)

Year with the least correlation with 'Element Code': Item Code

In [44]:
column_2014 = df['Y2014']

missing_count = column_2014.isnull().sum()
total_count = len(column_2014)

percentage_missing = (missing_count / total_count) * 100

percentage_missing = round(percentage_missing, 3)

print("Total number of missing data in 2014:", missing_count)
print("Percentage of missing data in 2014:", percentage_missing, "%")

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607 %

In [46]:
grouped_by_item = df.groupby('Item').sum()

wine_production = grouped_by_item.loc['Wine']

wine_production_2015 = wine_production['Y2015']
wine_production_2018 = wine_production['Y2018']

print("Total sum of Wine produced in 2015:", wine_production_2015)
print("Total sum of Wine produced in 2018:", wine_production_2018)

Total sum of Wine produced in 2015: 4251.81
Total sum of Wine produced in 2018: 4039.32